
.about-main-block {
    position: relative; 
    width: 87%;
    margin-top: 12%;
  
  //  border: 3px dotted orange;   
}

.about-thin-strip.spacer.add-inverse-color {
    #thin_box;
    #spacer( .65%, 400px);
    background-color: @color-lightsalmon;
  //  border: 12px dotted green;
}



/*****************************************************************************/
/* Media Quiery Section - Mobile First Method                                */
/*****************************************************************************/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
    .about-container h1 {
        #headline_type(1em);
    }

    .about-container .about-text {
        #paragraph_type(1em);
        color: #000000 ;
        margin-left: 1%;
        margin-top: 3.5%;
    } 
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .about-container h1 {
        #headline_type(1.5em);
    }

    .about-container .about-text {
        #paragraph_type(1em);
        color: #000000 ;
        margin-left: 1%;
        margin-top: 3.5%;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    
    .about-container h1 {
        #headline_type(1em);
    }

    .about-container .about-text {
        #paragraph_type(2em);
        color: #000000 ;
        margin-left: 1%;
        margin-top: 3.5%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    
    .about-container h1 {
        #headline_type( 6em );    
    }

    .about-container .about-text {
        #paragraph_type( 2.5em );
        color: #000000 ;
        margin-left: 1%;
        margin-top: 3.5%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    
    .about-container h1 {
        #headline_type( 8em );    
    }

    .about-container .about-text {
        #paragraph_type( 2.5em );
        color: #000000 ;
        margin-left: 1%;
        margin-top: 3.5%;
    }
}
