@import 'var.less';
  
.jumbotron-main-block {
    position: relative; 
    width: 87%;
    margin-top: 12%;
  //border: 12px dashed red;
    
  //border: 3px dotted orange;   
}

.jumbotron-secondary-block {
    position: relative;
    width: 87%;

  //border: 3px dotted orange;
}

#head_box {
    background: @color-lightsalmon;
    border-radius: 0px 50px 500px 0px;
    width: 55%;
    height: 206px;
    margin-top: 7px;
}

// ******************************************* //
    .jumbotron-thin-strip {
        #spacer( .65%, 20px);
        #thin_box;
    }

    .jumbotron-thin-strip.spacer.add-color {
        #spacer( .65%, 220px);
        background-color: @color-lightseagreen;
    }

    jumbotron-secondary-block.jumbotron-thin-strip .spacer {
      #spacer( .65%, 20px);
    }

    .jumbotron-head-block {
        #head_box;
    }
  
/*****************************************************************************/
/* Media Quiery Section - Mobile First Method                                */
/*****************************************************************************/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .jumbotron-container h1 {
        #headline_type(1rem);
    }

    .jumbotron-container .jumbotron-text {
        #paragraph_type(1rem);
    }

    .jumbotron-container .jumbotron-text .jumbotron-text-highlight {
        #paragraph_highlight;
    }    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .jumbotron-container h1 {
        #headline_type(3rem);
    }

    .jumbotron-container .jumbotron-text {
        #paragraph_type(2rem);
    }

    .jumbotron-container .jumbotron-text .jumbotron-text-highlight {
        #paragraph_highlight;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .jumbotron-container h1 {
        #headline_type(5rem);
    }

    .jumbotron-container .jumbotron-text {
        #paragraph_type(3rem);
    }

    .jumbotron-container .jumbotron-text .jumbotron-text-highlight {
        #paragraph_highlight;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    
    .jumbotron-container h1 {
        #headline_type(7rem);    
    }

    .jumbotron-container .jumbotron-text {
        #paragraph_type(3.5rem);
    }

    .jumbotron-container .jumbotron-text .jumbotron-text-highlight {
        #paragraph_highlight;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    
    .jumbotron-container h1 {
        #headline_type(8rem);    
    }

    .jumbotron-container .jumbotron-text {
        #paragraph_type(4rem);
    }

    .jumbotron-container .jumbotron-text .jumbotron-text-highlight {
        #paragraph_highlight;
    }
}