#portfolio_paragraph_type() {
    display: block;
    width: 100%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #FFFFFF ;
}

section.portfolio {
    background-color: @color-san-juan-navy;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

#portfolio_graphic_block( @top_mar ) {
    padding: 0;
    margin-top: @top_mar;
    //display: -webkit-box;
    //display: -moz-box;
    //display: -ms-flexbox;
    //display: -webkit-flex;
    //display: flex;
    position: relative;
}

.portfolio-image-container {
    #portfolio_graphic_block( 5% );
    position: relative;
    display: inline-block;
    width: 100%;
}

.portfolio-headline {
    height: 100%;
    width: 100%;
}

.portfolio-headline h1 {
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-52%, -20%);
}

.portfolio-image {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.portfolio-message-block {
    #paragraph_type( 2em );
    position: relative; 
    display: inline-blpock;
    width: 87%;
    //margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
}

.about-message-block {
    display: block;
}

/*****************************************************************************/
/* Media Quiery Section - Mobile First Method                                */
/*****************************************************************************/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
    .portfolio-container h1 {
        #headline_type(1em);
    }

    .portfolio-container .portfolio-text {
        #paragraph_type(1em);
        #portfolio_paragraph_type();
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    
    .portfolio-container h1 {
        #headline_type(1.5em);
    }

    .portfolio-container .portfolio-text {
        #paragraph_type(1em);
        #portfolio_paragraph_type();
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    
    .portfolio-container h1 {
        #headline_type(1em);
    }

    .portfolio-container .portfolio-text {
        #paragraph_type(1.5em);
        #portfolio_paragraph_type();
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    
    .portfolio-container h1 {
        #headline_type( 6em );    
    }

    .portfolio-container .portfolio-text {
        #paragraph_type( 1.25em );
        #portfolio_paragraph_type();
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    
    .portfolio-container h1 {
        #headline_type( 8em );
    }

    .portfolio-container .portfolio-text {
        #paragraph_type( 1.5em );
        #portfolio_paragraph_type();
    }
}