
.portfolio-container {
	width: 100vw;
  height: 100vh;
  border: 3px double #0000FF;
}

.portfolio-container h2 {
  text-align: left;
  text-transform: uppercase;
  margin-left: 6%;
  margin-right: 12%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.portfolio-flex {
	display: flex;
	min-height: 10em;
    vertical-align: middle
}

.portfolio-flex .flex-block {
  margin-left: 5%;
  margin-right: 4%;
  border: 3px double #0000FF;
}

.portfolio-flex .flex-block h3 {
  text-align: center;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 3px solid #FF0
}

.join-container {
  border: 3px dotted #442244;
  display:block;
}

.join-container h2 {
  position: relative;
  text-align: center;
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  //top: 0;
}


.join-button {
  //position: relative;
  margin-left: 25%;
  //margin-right: auto;
  text-align: center;
  //margin-bottom: 0;
  //margin: 0 auto;
  //top: 0;
  //width: 7em;
  width: 50%;
}